<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Network{% endblock %}
{% block content %}
    <section>
        <div class="container-lg bg-body p-3">
            <div class="row"><h1>Network</h1></div>
            <div class="row">
                <p>This page will go in-depth about the network layout for my home lab</p>
                <img src="{{ url_for('static', filename='images/home_lab_vlan_plan.png')}}"
                    style="width: 50%; height: auto;">
            </div>
        </div>
    </section>
{% endblock %}
